# Cython
*.pyx linguist-language=Cython
*.pyx linguist-detectable=true

# Python
*.py linguist-language=Python
*.py linguist-detectable=true

# Project
vorx/** linguist-detectable=true
lib/** linguist-vendored=true